* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carousel-item img {
  object-fit: contain;
  height: 50vh;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.news-image {
  float: left;
  width: 30vh;
  margin-right: 30px;
}
